/* Variables */

:root {
  --basic-black: #000000;
  --basic-red: #ee3643;
  --special-red: #ca2c37;
  --error-red: #ba2732;
  --basic-green: #63a63e;
  --basic-grey: #3d546f;
  --Basic-light-grey: #c5c5c5;
  --basic-white: #ffffff;
  --basic-dark-white: #f9f5f0;
  --basic-smoke-white: #f1f5f7;
  --basic-orange: #ffbf47;
  --basic-night-blue: #293449;
  --basic-dark-blue: #32425c;
  --active-menu-item: #161d29;
  --basic-blue: #3bbce3;
  --basic-lilac: #dc91d8;
  --basic-light-green: #8ed78f;
  --basic-light-orange: #ffd180;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.body {
  height: 100%;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 940px;
}

/* header */

.main-header-bar {
  background-color: var(--basic-night-blue);
}

.main-header {
  padding-bottom: 70px;
  background-color: var(--basic-smoke-white);
}

.header-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  background-color: var(--basic-red);
}

.page-catalog .main-header-logo:active {
  background-color: #ba2732;
}

.form-search {
  position: relative;
  margin-left: 220px;
}

.form-search input {
  height: 42px;
  background-color: transparent;
  border: none;
  padding-left: 42px;
}

.form-search input::placeholder {
  color: var(--basic-white);
}

.form-search label {
  position: absolute;
  left: 17px;
  top: 11px;
  opacity: 0.3;
}

.form-search:hover label,
.form-search:focus label {
  opacity: 1;
}

.form-search input:focus {
  background-color: var(--basic-white);
}

.user-menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.user-menu-item {
  padding: 10px 0;
  text-align: center;
  width: 150px;
  position: relative;
  color: var(--basic-white);
}

.user-menu a:not(.order, .active):active {
  background-color: var(--active-menu-item);
}

.user-menu a:active {
  color: rgba(255, 255, 255, 0.5);
}

.user-menu .order {
  background-color: var(--basic-green);
}

.user-menu .order:focus,
.user-menu .order:hover {
  background-color: #5fbb2d;
}

.user-menu .bookmark::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 16px;
  left: 12px;
  top: 13px;
  background-image: url(../img/icons/icon-bookmark.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-menu .cart::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  left: 15px;
  top: 13px;
  background-image: url(../img/icons/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-menu .bookmark:hover::before,
.user-menu .bookmark:focus::before,
.user-menu .cart:hover::before,
.user-menu .cart:focus::before {
  opacity: 1;
}

.user-menu .bookmark:active::before,
.user-menu .cart:active::before {
  opacity: 0.5;
}

.user-menu .active {
  background: var(--basic-red);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.intro-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 46px;
  padding-left: 30px;
  padding-bottom: 40px;
}

.intro .description {
  font-style: italic;
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
  margin: 0;
  max-width: 197px;
}

.header-contacts {
  width: 270px;
}

.header-contacts .phone {
  box-sizing: border-box;
  border: 3px solid #ffffff;
  position: relative;
  margin: 0;
  padding: 7px 0;
}

.phone-number {
  color: var(--basic-red);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  padding-left: 74px;
}

.header-contacts .phone::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  left: 39px;
  top: 13px;
  background-image: url(../img/icons/icon-phone.svg);
}

.header-contacts .adress {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-dark-blue);
  text-align: center;
  margin: 0;
}

.intro .authorization {
  display: flex;
  align-self: flex-start;
}

.authorization a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding: 12px 0;
}

.authorization a:focus,
.authorization a:hover {
  color: var(--basic-red);
}

.authorization .login {
  position: relative;
  margin-right: 10px;
  padding-left: 45px;
  padding-right: 27px;
}

.login svg {
  position: absolute;
  left: 19px;
  top: 14px;
}

.login:hover path,
.login:focus path {
  fill: #3d546f;
}

.login:active path {
  fill: #c5c5c5;
}

.authorization a:active {
  color: #c5c5c5;
}

.authorization .registration {
  width: 150px;
  text-align: center;
}

.user-authorization {
  align-self: flex-start;
  text-align: center;
}

.user-authorization .user-info {
  position: relative;
  background-color: var(--basic-white);
  padding: 12px 40px;
  text-align: center;
  width: 220px;
  margin: 0;
}

.user-info .user-name {
  font-size: 21px;
  line-height: 21px;
}

.user-profile svg {
  position: absolute;
  left: 15px;
  top: 13px;
}

.user-info a:hover path,
.user-info a:focus path {
  fill: #3d546f;
}

.user-info a:active path {
  fill: #c5c5c5;
}

.user-info .user-name:active {
  color: #c5c5c5;
}

.user-logout svg {
  position: absolute;
  right: 17px;
  top: 15px;
}

.user-account {
  margin: 0;
  margin-top: 7px;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.user-account a:first-child {
  margin-right: 30px;
  position: relative;
}

.user-account a:hover,
.user-account a:focus {
  color: var(--basic-red);
}

.user-account a:active {
  color: #c5c5c5;
}

.user-account a:not(:last-child)::before {
  position: absolute;
  right: -18px;
  top: 8px;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;
}

/* главная навигация */

.main-navigation-list {
  background-color: var(--basic-dark-blue);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: inset 0px -5px 0px #293449;
  width: 100%;
}

.main-navigation a {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  display: block;
  padding: 16px 28px 20px 28px;
}

.main-navigation-list .current {
  background-color: #1D2739;
  color: rgba(255, 255, 255, 0.5);
}

.main-navigation-list a:not(.current):focus,
.main-navigation-list a:not(.current):hover {
  background-color: #293449;
}


.main-navigation-list a:not(.current):active {
  background-color: #1D2739;
  color: rgba(255, 255, 255, 0.5);
}

/*main*/

.promoblock-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 59px;
}

.promoblock-item h3 {
  color: var(--basic-white);
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 14px;
}

.promoblock-item {
  display: block;
  padding-top: 20px;
  padding-left: 23px;
  padding-bottom: 21px;
}

.promoblock-item .promo_button {
  display: block;
  width: 135px;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
}

.promoblock-item .promo_button:hover,
.promoblock-item .promo_button:focus {
  background: rgba(197, 197, 197, 0.3);
}

.promoblock-item .promo_button:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.promoblock-list .promoblock-item:first-child {
  background-color: var(--basic-orange);
  position: relative;
}

.promoblock-list .promoblock-item:first-child::before {
  content: "";
  position: absolute;
  left: 213px;
  top: 31px;
  background-image: url(../img/promo-icons/icon-1.svg);
  width: 44px;
  height: 65px;
}

.promoblock-list .new::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(../img/new.svg);
  width: 70px;
  height: 70px;
}

.promoblock-list .promoblock-item:nth-child(2) {
  background-color: var(--basic-blue);
  position: relative;
}

.promoblock-list .promoblock-item:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 194px;
  top: 34px;
  background-image: url(../img/promo-icons/icon-2.svg);
  width: 75px;
  height: 61px;
}

.promoblock-list .promoblock-item:nth-child(3) {
  background-color: var(--basic-lilac);
  position: relative;
}

.promoblock-list .promoblock-item:nth-child(3)::before {
  content: "";
  position: absolute;
  left: 191px;
  top: 31px;
  background-image: url(../img/promo-icons/icon-3.svg);
  width: 78px;
  height: 62px;
}

.promoblock-list .promoblock-item:nth-child(4) {
  background-image: url(../img/layer_99.jpg);
  background-repeat: no-repeat;
  background-color: var(--Basic-light-grey);
  grid-column: 1/3;
  grid-row: 2/4;
}

.promoblock-list .promoblock-item:nth-child(5) {
  background-color: var(--basic-light-green);
  position: relative;
}

.promoblock-list .promoblock-item:nth-child(5)::before {
  content: "";
  position: absolute;
  left: 196px;
  top: 26px;
  background-image: url(../img/promo-icons/icon-4.svg);
  width: 59px;
  height: 72px;
}

.promoblock-list .promoblock-item:nth-child(6) {
  background-color: var(--basic-orange);
  position: relative;
}

.promoblock-list .promoblock-item:nth-child(6)::before {
  content: "";
  position: absolute;
  left: 191px;
  top: 32px;
  background-image: url(../img/promo-icons/icon-5.svg);
  width: 78px;
  height: 63px;
}

.heading {
  background-color: var(--basic-dark-white);
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  padding: 29px 0 30px 28px;
}

.heading h2 {
  color: var(--basic-dark-blue);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.heading a {
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 11px 24px 9px 24px;
  margin-right: 19px;
  color: var(--basic-white);
}

.popular-goods {
  margin-bottom: 70px;
}

.popular-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.popular-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 220px;
  min-height: 318px;
  font-family: "PT Sans", Arial, sans-serif;
  border: 1px solid #eaeaea;
  position: relative;
  padding: 0 20px 20px 20px;
}

.popular-item:hover,
.popular-item:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-item h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
}

.new::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  background-image: url(../img/new.svg);
  background-repeat: no-repeat;
}

.popular-item-image {
  width: auto;
  height: 164px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 14px;
}

.popular-item .old-price {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #a9a9a9;
}

.popular-item .price {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  padding: 10px 25px 10px 32px;
  margin-top: auto;
  position: relative;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.popular-item .price:after {
  position: absolute;
  content: "";
  right: -38px;
  top: 0px;
  border: 19px solid transparent;
  border-left: 19px solid var(--basic-red);
}

/* ПОПУЛЯРНЫЕ ПРОИЗВОДИТЕЛИ */

.popular-manufacturers {
  margin-bottom: 70px;
}

.popular-manufacturers-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.popular-manufacturers-item {
  width: 220px;
  min-height: 145px;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-manufacturers-item:hover,
.popular-manufacturers-item:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-manufacturers-item:active {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  opacity: 0.5;
}

/* СЕРВИСЫ */

.services {
  background-color: var(--basic-dark-white);
  margin-bottom: 70px;
}

.services-container {
  padding-top: 64px;
}

.services h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
}

.services p {
  font-size: 13px;
  line-height: 24px;
  font-family: PT Sans, Arial, sans-serif;
}
.services ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* О КОМПАНИИ */

.about-company-container {
  display: grid;
  grid-template-columns: 1fr 300px;
  margin-bottom: 70px;
}

.about-company .technomart-description {
  max-width: 460px;
  display: flex;
  flex-direction: column;
}

.about-company h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  margin: 0px;
  margin-bottom: 24px;
}

.about-company p {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: PT Sans, Arial, sans-serif;
}

.technomart-description p:first-of-type {
  margin-bottom: 40px;
}

.about-company ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 2px;
}

.delivery-item {
  margin-bottom: 12px;
}

.delivery-item {
  position: relative;
  padding-left: 35px;
}

.delivery-item::before {
  position: absolute;
  content: "";
  background-color: var(--basic-red);
  width: 25px;
  height: 2px;
  top: 10px;
  left: 0px;
}

.about-company .button {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  padding: 11px 0 9px 0;
  justify-self: flex-end;
}

.about-company .more-detailes {
  width: 220px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active,
.button:active {
  background-color: var(--error-red);
}

/* КОНТАКТЫ*/

.about-company .contacts {
  position: relative;
}

.contacts p {
  padding-right: 120px;
}

.about-company .write-us {
  width: 300px;
  position: absolute;
  bottom: 0;
  justify-self: end;
}

.contacts .mini-map {
  display: block;
  margin-top: 32px;
  background-color: var(--Basic-light-grey);
  cursor: pointer;
  width: 300px;
  height: 158px;
}

/* footer */

.top-footer {
  background-color: var(--basic-dark-blue);
}

.top-footer-container {
  padding-bottom: 54px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  color: var(--basic-white);
  margin-bottom: 22px;
}

.main-footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 68px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-menu-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 546px;
  align-items: flex-end;
}

.footer-menu-list,
.footer-submenu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu-list a {
  color: #f1f5f7;
}

.footer-menu-list a:hover,
.footer-menu-list a:focus {
  text-decoration: underline;
}

.footer-menu-list a:active {
  opacity: 0.5;
}

.footer-submenu-list a {
  color: var(--basic-light-orange);
}

.footer-submenu-list a:hover,
.footer-submenu-list a:focus {
  text-decoration: underline;
}

.footer-submenu-list a:active {
  opacity: 0.5;
}

.footer-submenu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-contacts {
  margin: 0;
  width: 321px;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-contacts a {
  color: inherit;
}

.footer-submenu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 525px;
}

.bottom-footer {
  background-color: var(--basic-night-blue);
}

.bottom-footer-container {
  display: flex;
  justify-content: space-between;
  color: var(--basic-white);
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
  min-height: 107px;
}

.bottom-footer .copyright {
  width: 230px;
  margin: 0px;
}

.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 134px;
  flex-wrap: wrap;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #212a3a;
  width: 44px;
  height: 44px;
  color: inherit;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: var(--basic-red);
}

.feedback {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.feedback a {
  color: var(--basic-light-orange);
}

.feedback a:active {
  color: var(--basic-red);
}

.feedback-email,
.feedback-site {
  margin: 0;
}

.feedback-email {
  margin-right: 51px;
}

/* КАТАЛОГ */

.page-catalog .main-catalog {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.broadcrumbs-list {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.broadcrumbs-list li {
  position: relative;
  padding-right: 25px;
  margin-right: 15px;
}

.broadcrumbs-list li:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border: 1px solid #c1c6ce;
  border-top: none;
  border-left: none;
  transform: rotate(-45deg);
  top: 3px;
  right: 0px;
}

.page-title {
  font-family: cuprum, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-dark-blue);
  background-color: #f1f5f7;
  text-transform: uppercase;
  padding: 30px 0 30px 30px;
}

.catalog-container {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
}

/* ФИЛЬТР */

.filter {
  grid-column: 1/2;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-style: normal;
}

.filter-title {
  text-transform: uppercase;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
  padding: 10px;
  padding-left: 18px;
  margin: 0;
  margin-bottom: 14px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* RANGE фильтр*/

.range-filter {
  position: relative;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 25px;
  margin-bottom: 16px;
}

.range-filter::after,
.manufacturers-list::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 1px;
  width: 220px;
  background-color: #f7f3ec;
  background-repeat: no-repeat;
}

.filter legend {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  height: 41px;
  border-radius: 4px;
  background-color: #f7f3ec;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  height: 2px;
  width: 80%;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 18px;
}

.price-controls input {
  width: 95px;
  padding: 10px 0;
  text-align: center;
  color: inherit;
  border: none;
  border-radius: 5px;
  background: #f7f3ec;
  font-family: inherit;
  font-size: inherit;
}

.price-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.price-controls::before {
  position: absolute;
  left: 106px;
  top: 19px;
  content: "";
  width: 10px;
  height: 1px;
  background-color: #444444;
  background-repeat: no-repeat;
}

.manufacturers-list,
.powersupply-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.manufacturers-list {
  padding-bottom: 27px;
  margin-bottom: 18px;
}

.manufacturers-list label,
.powersupply-list label {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  display: block;
  margin-top: 20px;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
}

.powersupply-list {
  padding-bottom: 37px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 23px;
  height: 23px;
  border: 3px solid #c5c5c5;
  border-radius: 3px;
  box-sizing: border-box;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 3px;
  width: 23px;
  height: 23px;
  box-sizing: border-box;
  background-image: url(../img/check-mark.svg);
  background-repeat: no-repeat;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 25px;
  height: 25px;
  border: 5px solid #c5c5c5;
  border-radius: 50%;
  box-sizing: border-box;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 8px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #c5c5c5;
  background-repeat: no-repeat;
}

.filter-button {
  text-transform: uppercase;
  padding: 10px 0;
  border: 1px solid #e5e5e5;
  background-color: var(--basic-white);
  width: 100%;
  cursor: pointer;
}

/*ТОВАРЫ С СОРТИРОВКОЙ*/

.goods {
  grid-column: 2/-1;
}

.sorting {
  background-color: #f7f3ec;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-bottom: 28px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  padding: 10px 16px 10px 19px;
}

.sorting-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 355px;
  margin-left: 140px;
}

.sorting-item {
  opacity: 0.3;
  border-bottom: 1px dotted var(--basic-red);
}

.goods-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 18px;
  column-gap: 20px;
  margin-bottom: 48px;
}

.goods-item {
  width: 220px;
  box-sizing: border-box;
  min-height: 318px;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "PT Sans", Arial, sans-serif;
  align-items: center;
  text-align: center;
}

.goods-list .goods-item:hover,
.goods-list .goods-item:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/*ПАГИНАЦИЯ*/

.pagination-list {
  list-style: none;
  margin: 0;
  margin-bottom: 59px;
  padding: 0;
  display: flex;
}

.pagination-list li:not(:last-child) {
  margin-right: 10px;
}

.pagination-list a {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  padding: 10px 15px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination-list a:hover,
.pagination-list a:focus {
  border-color: #c5c5c5;
}
.pagination-list a:active {
  border-color: var(--basic-red);
}

.panagation-item .current {
  background-color: var(--basic-red);
  color: var(--basic-white);
  border: none;
}

.panagation-item:last-child a {
  padding-left: 31px;
  padding-right: 31px;
  text-transform: uppercase;
}

/*О ПЕРФОРАТОРАХ*/
.about-perforators {
  background-color: #f1f5f7;
  padding-top: 64px;
  padding-bottom: 68px;
}
.about-perforators h2 {
  font-family: cuprum, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-perforators p {
  font-size: 13px;
  line-height: 24px;
  font-family: PT Sans, Arial, sans-serif;
  max-width: 908px;
  margin: 0;
}
