/* Variables */

:root {
  --basic-black: #000000;
  --basic-red: #EE3643;
  --special-red: #CA2C37;
  --error-red: #BA2732;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --Basic-light-grey: #C5C5C5;
  --basic-white: #FFFFFF;
  --basic-dark-white: #F9F5F0;
  --basic-smoke-white: #F1F5F7;
  --basic-orange: #FFBF47;
  --basic-night-blue: #293449;
  --basic-dark-blue: #32425C;
  --active-menu-item: #161D29;
  --basic-blue: #3BBCE3;
  --basic-lilac: #DC91D8;
  --basic-light-green: #8ED78F;
  --basic-light-orange: #FFD180;

}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}



.body {
  height: 100%;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  max-width: 940px;
}



/* header */

.main-header-bar {
  background-color: var(--basic-night-blue);



}

.main-header {

padding-bottom: 70px;
background-color: var(--basic-smoke-white);


}

.header-inner {
display: flex;
justify-content: space-between;
position: relative;
align-items: center;


}


.main-header-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  background-color: var(--basic-red);

}




.form-search {
  position: relative;
  margin-left: 220px;
}

.form-search input {
  width: 270px;
  height: 42px;
  background-color: transparent;
  border: none;
  padding-left: 42px;


}



.form-search input::placeholder {
    color: var(--basic-white);
  }

.form-search label {
  position: absolute;
  left: 17px;
  top: 11px;
  opacity: 0.3;
}
.form-search:hover label,
.form-search:focus label {
  opacity: 1;
}



.form-search input:focus {
  background-color: var(--basic-white);
}




.user-menu {
  display: flex;

}

.user-menu-item {
display: block;
text-align: center;
width: 150px;
position: relative;
color: var(--basic-white);
padding: 9px 0;

}


.user-menu .bookmark:active,
.user-menu .cart:active {
  background-color: var(--active-menu-item);
  opacity: 0.5;
}


.user-menu .order {
  background-color: var(--basic-green);
}

.user-menu .order:focus,
.user-menu .order:hover  {
  background-color: #5FBB2D;
}
.user-menu .order:active {
  opacity: 0.5;
}




.user-menu .bookmark::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 16px;
  left: 12px;
  top: 13px;
  background-image: url(../img/icons/icon-bookmark.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-menu .cart::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  left: 15px;
  top: 13px;
  background-image: url(../img/icons/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}



.user-menu .bookmark:hover::before,
.user-menu .bookmark:focus::before,
.user-menu .cart:hover::before,
.user-menu .cart:focus::before  {
opacity: 1;
}





.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.introduce {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  padding-left: 30px;
  padding-bottom: 40px;


}


.introduce .description {
  font-style: italic;
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
  margin:0;
  max-width: 200px;



}



.header-contacts .phone {
  color: var(--basic-red);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  border: 3px solid #FFFFFF;
  position: relative;
  margin: 0;
  padding: 7px 45px 8px 74px;

}

.header-contacts .phone::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  left: 39px;
  top: 13px;
  background-image: url(../img/icons/icon-phone.svg)


}


.header-contacts .adress {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-dark-blue);
  text-align: center;
  margin: 0;



}

.authorization {

display: flex;
align-items: flex-start;



}



.authorization a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.authorization a:focus,
.authorization a:hover {
  color: var(--basic-red);

}


.authorization .login {
  position: relative;
  padding: 12px 27px 12px 45px;
  margin-right: 10px;
}

.login svg {
  position: absolute;
  left: 19px;
  top: 14px;
}

.login:hover path,
.login:focus path {
  fill: #3D546F;
}

.login:active path {
  fill: #C5C5C5;
}

.authorization a:active  {
  color: #C5C5C5;
}



.authorization .registration {
  padding: 12px 0;
  width: 150px;
  text-align: center;


}




.main-navigation-list {
  background-color: var(--basic-dark-blue);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  min-height: 60px;
  align-items: center;
  vertical-align: middle;
  flex-wrap: wrap;
  box-shadow: inset 0px -5px 0px #293449;
  padding-left: 20px;
  padding-right: 20px;


}


.main-navigation a {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  display: block;
  padding: 16px 28px 20px 28px;


}
.main-navigation-list a:focus,
.main-navigation-list a:hover {
  background-color: var(--basic-night-blue);
}
.main-navigation-list a:active {
opacity: 0.5;
}

/*main*/

.promoblock-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 59px;

}

.promoblock-item h3 {
  color: var(--basic-white);
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 14px;
}

.promoblock-item {
display: block;
padding-top: 20px;
padding-left: 23px;
padding-bottom: 21px;

}
.promoblock-item .promo_button {
display: block;
width: 135px;
text-align: center;
padding: 10px 0;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
color: white;
background-color: rgba(255, 255, 255, 0.3);
}

.promoblock-list .promoblock-item:first-child {
background-color: var(--basic-orange);
position: relative;
}
.promoblock-list .promoblock-item:first-child::before {
  content: "";
  position: absolute;
  left: 213px;
  top: 31px;
  background-image: url(../img/promo-icons/icon-1.svg);
  width: 44px;
  height: 65px;
}
.promoblock-list .promoblock-item:first-child::after {
  content: "";
  position: absolute;
  right: 0;
  top:0;
  background-image: url(../img/new.svg);
  width: 70px;
  height: 70px;
}

.promoblock-list .promoblock-item:nth-child(2) {
background-color: var(--basic-blue);
position: relative;
}

.promoblock-list .promoblock-item:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 194px;
  top: 34px;
  background-image: url(../img/promo-icons/icon-2.svg);
  width: 75px;
  height: 61px;
  }

.promoblock-list .promoblock-item:nth-child(3) {
  background-color: var(--basic-lilac);
  position: relative;
}
.promoblock-list .promoblock-item:nth-child(3)::before {
  content: "";
  position: absolute;
  left: 191px;
  top: 31px;
  background-image: url(../img/promo-icons/icon-3.svg);
  width: 78px;
  height: 62px;
  }

.promoblock-list .promoblock-item:nth-child(4) {

  background-image: url(../img/layer_99.jpg);
  background-repeat: no-repeat;
  background-color: var(--Basic-light-grey);
  grid-column: 1/3;
  grid-row: 2/4;


}


.promoblock-list .promoblock-item:nth-child(5) {
  background-color: var(--basic-light-green);
  position: relative;
}
.promoblock-list .promoblock-item:nth-child(5)::before {
  content: "";
  position: absolute;
  left: 196px;
  top: 26px;
  background-image: url(../img/promo-icons/icon-4.svg);
  width: 59px;
  height: 72px;
  }


.promoblock-list .promoblock-item:nth-child(6) {
  background-color: var(--basic-orange);
  position: relative;
}

.promoblock-list .promoblock-item:nth-child(6)::before {
  content: "";
  position: absolute;
  left: 191px;
  top: 32px;
  background-image: url(../img/promo-icons/icon-5.svg);
  width: 78px;
  height: 63px;
  }


.heading {
  background-color: var(--basic-dark-white);
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  padding: 29px 0 30px 28px;
}
.heading h2 {
  color: var(--basic-dark-blue);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.heading a {
    color: var(--basic-white);
    background-color: var(--basic-red);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 11px 24px 9px 24px;
    margin-right: 19px;
  }

  .heading a:hover,
  .heading a:focus,
  .heading a:active {
    background-color: var(--special-red);
  }


}
.popular-goods {
  margin-bottom: 70px;
}
.popular-item h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0 30px;
  text-align: center;


}

.popular-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "PT Sans",Arial,sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 70px;

}

.popular-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 220px;
  min-height: 318px;
  font-family: "PT Sans",Arial,sans-serif;
  border: 1px solid #eaeaea;
  position: relative;
  padding-bottom: 21px;


}
.new-item::before {
  content: "";
  position: absolute;
  top:0;
  right:0;
  width: 70px;
  height: 70px;
  background-image: url(../img/new.svg);
  background-repeat: no-repeat;


}

.popular-item-image {
  width: auto;
  height: 164px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 14px;
}

.popular-item .old-price {
  display: block;
  text-align: center;
  margin-top: 8px;
  margin-bottom: auto;
  font-family: PT Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #A9A9A9;


}

.popular-item .price {
  display: block;
  font-family: PT Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  padding: 10px 32px;
  margin-top: auto;
  margin-right: auto;
  margin-left: 45px;
  position: relative;
  border-radius: 3px;
}




.popular-manufacturers {
  margin-bottom: 70px;
}

.popular-manufacturers-list {
  list-style: none;
  margin: 0;
  padding:0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;

}

.popular-manufacturers-item {
  width: 220px;
  min-height: 145px;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-manufacturers-item:hover,
.popular-manufacturers-item:focus {
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-manufacturers-item:active{
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
opacity: 0.5;
}


/* СЕРВИСЫ */

.services {
  padding: 64px 0 0 130px;
  background-color: var(--basic-dark-white);
  margin-bottom: 70px;
}

.services h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
}

.services p {
font-size: 13px;
line-height: 24px;
font-family: PT Sans, Arial, sans-serif;
}
.services ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* О КОМПАНИИ */

.about-company {
  display: grid;
  grid-template-columns: 1fr 300px;
  margin-bottom: 70px;
}

.about-company .technomart-description {
  max-width: 460px;
  display: flex;
  flex-direction: column;

}



.about-company h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  margin: 0px;
  margin-bottom: 24px;

}

.about-company p {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: PT Sans, Arial, sans-serif;
}

.technomart-description p:first-of-type {
  margin-bottom: 40px;
}



.about-company ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 2px;
}

.delivery-item {
  margin-bottom: 12px;
}

.delivery-item {
  position: relative;
  padding-left: 35px;
}

.delivery-item::before {
  position: absolute;
  content: "";
  background-color: var(--basic-red);
  width: 25px;
  height: 2px;
  top: 10px;
  left: 0px

}

.about-company .more-detailes,
.about-company .write-us {
display: block;
text-align: center;
text-transform: uppercase;
color: var(--basic-white);
background-color: var(--basic-red);
font-size: 14px;
line-height: 18px;
padding: 11px 0 9px 0;
justify-self: end;
}

.about-company .more-detailes {
  width: 220px;
}

.about-company .more-detailes:hover,
.about-company .more-detailes:focus,
.about-company .write-us:hover,
.about-company .write-us:focus {
  background-color: var(--special-red);
}

.about-company .more-detailes:active,
.about-company .more-detailes:active,
.about-company .write-us:active,
.about-company .write-us:active {
  background-color: var(--error-red);
}


/* КОНТАКТЫ*/

.about-company .contacts {
  position: relative;
}

.about-company .write-us {
  width: 300px;
  position: absolute;
  bottom: 0;
  justify-self: end;
}




.contacts .mini-map {
  display: block;
  margin-top: 32px;
  background-color: var(--Basic-light-grey);
  cursor: pointer;
  width: 300px;
  height: 158px;

}




/* footer */



.top-footer {
  background-color: var(--basic-dark-blue);
  color: var(--basic-white);
  margin: 0;
}
.footer-menu {
  display: flex;
  justify-content: space-between;

}
.main-footer-logo {
  text-align: center;
  padding: 20px 41px;
 background-color: var(--basic-red);
 box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);

 }


 .footer-menu-list {

  display: flex;
  justify-content: space-between;
  width: 546px;
  align-items: flex-end;

}



.footer-menu-list,
.footer-submenu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-menu-list a {
  color: #F1F5F7;
}

.footer-submenu-list a {
  color: var(--basic-light-orange);
}



.footer-submenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top:  22px;
  padding-bottom: 54px;

}

.footer-contacts {
  margin: 0;
  width: 321px;
  min-height: 49px;
  font-size: 18px;
  line-height: 24px;
  color: #F3F7F9;
}

.footer-submenu-list {
  display: flex;
  justify-content: space-between;
  width: 525px;
}

.bottom-footer-bar {
  background-color: var(--basic-night-blue);

}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  color: var(--basic-white);
  min-height: 107px;
  align-items: center;
}



.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 134px;
  flex-wrap: wrap;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(0deg, #212A3A, #212A3A);
  width: 44px;
  height: 44px;
  color: inherit;

}



.feedback {
  display: flex;
  width: 300px;
}

.feedback a {
  color: var(--basic-light-orange);
}
.feedback-email, .feedback-site {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}

.feedback-email {
  margin-right: 51px;
}


/* catalog*/



.goods-available .container {
  display: grid;
  grid-template-columns: 220px 1fr;
  outline-offset: -10px;
}

.broadcrumbs-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 21px;
  display: flex;
  outline: 5px solid cyan;
  outline-offset: -5px;
  margin-bottom: 20px;

}
.page-title {

  font-size: 30px;
  line-height: 30px;
  color: var(--basic-dark-blue);
  background-color: #F1F5F7;
  text-transform: uppercase;
  padding: 29px 0 30px 29px;
  margin-bottom: 20px;
  outline: 5px solid cyan;
  outline-offset: -5px;
}




.filter {
  grid-column: 1/2;
  font-family: "PT Sans", Arial, sans-serif ;
  font-size: 17px;
  line-height: 18px;
  font-style: normal;

}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 220px;
  margin-top: 10px;
}

.filter-item legend {
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;

}

.range-controls {
  position: relative;
  height: 41px;
  border-radius: 4px;
  background-color: #F7F3EC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 9px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

.range-controls .scale {
  height: 2px;
  background: #D7DCDE;
}

.range-controls .bar {
  height: 2px;
  width: 80%;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;


}

.range-controls .toggle-min {
left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 18px;
}

.price-controls input {
  width: 95px;
  padding: 10px 0;
  text-align: center;
  color: inherit;
  border: none;
  border-radius: 5px;
  background: #F7F3EC;
  font-family: inherit;
  font-size: inherit;
}
.price-controls span {
  padding: 0 3px;

}


.price-controls input:last-of-type {
margin-left:
}



.filter-manufacturers-list,
.filter-powersupply-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.goods {
  grid-column: 2/-1;
}

.sorting {
  outline: 5px solid cyan;
  outline-offset: -5px;
  background-color: #F1F5F7;
  display: flex;
  margin: 0;
  }

.sorting-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  }

.goods-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 18px;
  column-gap: 20px;
  margin-top: 28px;
}

.goods-item {
  width: 220px;
  min-height: 318px;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "PT Sans", Arial, sans-serif;
  align-items: center;
  text-align: center;


}

.pagination-list {

  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  outline-offset: -5px;
}

.about-perforators {

  background-color: #F1F5F7;
  padding-top: 64px;
  padding-bottom: 68px;

}

.about-perforators h2 {
  font-size: 30px;
line-height: 30px;
text-transform: uppercase;




}

.about-perforators p {
  font-size: 13px;
line-height: 24px;
font-family: PT Sans, Arial, sans-serif;
max-width: 908px;

}
